.searchMainBox { width: 100%; height: 50%; padding-left: 5%; padding-top: 2.5%; text-align: center; border-top: 2px dot-dot-dash #56585b; border-bottom: 2px dot-dot-dash #56585b; }
.searchMainBox > h1 { font-size: revert; margin-top: 12%; }
.searchMainBox:last-child { padding-bottom: 2.5%; }

.searchMainPoster { width: 30%; height: 100%; position: relative; float: left; }

.searchMainText { width: 64%; height: 100%; position: relative; float: left; }
.searchMainText > table { width: 92%; height: 92%; margin: 2% 2% 2% 2%; }
.searchMainText > table > tr > td:first-child { width: 70%; vertical-align: middle; }
.searchMainText > table > tr > td:nth-child(2) { width: 30%; vertical-align: middle; }

.searchPoster { width: 55%; position: relative; margin-top: 1.5%; }

.floatButtons { position: fixed; display: flex; top: 85%; left: 95%; }

.pageBtn { width: 10%; height: 80%; position: relative; left: 20%; top: 8%; font-size: xx-large; padding: 0 0 0 0; margin: 0 0 0 0; border: none; }

.searchTitle { width: 70%; vertical-align: middle; text-align: center; }
.searchPopular { width: 30%; vertical-align: middle; text-align: center; }
.searchType { width: 30%; vertical-align: middle; border-top: 1px dotted #5b5b5b; text-align: center; }
.searchContent { width: 100%; font-size: medium;  border-top: 1px dotted #5b5b5b; }
#pageBtn { width: 100%; position: relative; padding: 0 0 0 0; margin: 3% 0 3% 0; text-align: center; }
#pageBtn > input { width: 80%; background-color: white; font-size: xx-large; font-weight: bold; border: dashed #5b5b5b; color: #5b5b5b; border-radius: 10px; padding: 1% 0 1% 0; }